---
# secret used to encrypt cookies for example
# tr -dc 'A-Za-z0-9!$%&()*+,-./:;<>?@[\]^_{|}~' </dev/urandom | head -c 64  ; echo
clowder_secret: xxxx
# tr -dc 'A-Za-z0-9A-Za-z0-9' </dev/urandom | head -c 10 ; echo ''
clowder_key: xxxx

clowder_admins: xxxx@xxx, yyyy@yyy

traefik_acme_email: xxxx@xxx
clowder_host: xxx
traefik_host: Host:xxx;
traefik_ip_filters: iprange1, iprange2


portainer_password: xxxx

# echo $(htpasswd -nb username password) | sed -e s/\\$/\\$\\$/g
traefik_user: "xxx:xxxx"

rabbitmq_default_pass: xxxx
rabbitmq_uri: amqp://xxxx:xxxx@xxxx/%2F

# for custom.conf
securesocial_cilogon_authorizationurl: xxxx
securesocial_cilogon_accesstokenurl: xxxx
securesocial_cilogon_userinfourl: xxxx
securesocial_cilogon_scope: openid profile email
securesocial_cilogon_clientid: xxxx
securesocial_cilogon_clientsecret: xxxx
